/* css Health perigon 2020*/
 *{
     padding:0;
     margin:0;
}
 body{
     background:#fff;
     color:#212529;
     font-size:14px;
     font-family: Roboto, Open Sans, sans-serif;
}
 .header{
     border-bottom: 5px solid #D1232A;
     padding-top: 10px;
     padding-bottom: 25px;
     display: grid;
}
 .header-left-side{
    float:left;
    display: block;
}
 .header-right-side{
    float: right;
    display: block;
    width: 80%;
}
 .logo{
    width:120px;
    height:auto;
    padding:10px;
}
 .social-icons-holder{
    float:right;
    margin-bottom: 30px;
}
 .social-icons-holder a{
    float:left;
}
 .icon-style{
     background: #5ac9f4;
     color: #fff;
     padding: 0px 8px;
     font-size: 12px;
     margin-left:8px;
     border-radius: 50%;
}
 .icon{
     width:8px;
     height: 14px;
}
 .login-btn-holder{
     float: right;
}
 .login-btn{
     color: rgba(0,0,0,.5);
     background:#e5e4e2;
     padding: 1px 45px;
     border-radius: 100px;
     border: 1px solid #fff;
     box-shadow: 0px 0px 0px 6px #e5e4e2;
}
 .login-btn:hover{
     background:#D1232A;
     box-shadow: 0px 0px 0px 6px #D1232A;
	 color:#fff;
}
a:hover{
	text-decoration:none;
	color:#fff;
}
 .Search-box-bg{
     margin-top:-22px;
}
 .header-search .form-control {
    padding-left: 2.375rem;
}
 .header-search .Search-box-icon {
     position: absolute;
     z-index: 2;
     display: block;
     width: 2.375rem;
     height: 2.375rem;
     line-height: 2.375rem;
     text-align: center;
     pointer-events: none;
     color: #aaa;
}
 .header-search .form-control {
     color:#e5e4e2;
     background-color: #fff;
     border: none;
     border-radius: 100px;
     box-shadow: 0px 0px 10px #e5e4e2;
}
 .navbar-expand-md .navbar-nav .nav-link {
     color: rgba(0,0,0,.5);
     background:#e5e4e2;
     padding: 2px 70px;
     margin: 2px 30px;
     border-radius: 100px;
     border: 1px solid #fff;
     box-shadow: 0px 0px 0px 6px #e5e4e2;
}
 .navbar-expand-md .navbar-nav .nav-link:hover {
     color:#fff;
     background:#00ADEE;
     box-shadow: 0px 0px 0px 6px #00ADEE;
     transition: 0.2s all;
}
 .navbar-expand-md .navbar-nav .active {
     color:#fff;
     background:#00ADEE;
     box-shadow: 0px 0px 0px 6px #00ADEE;
}
 .main{
     background: #f2f2f2;
     border-top: 7px solid #e5e4e2;
     margin-top: -28px;
}
 .slider-section{
     display:grid;
     padding-top:30px;
     padding-bottom:50px;
}
 .slider-content{
     width:100%;
     height:auto;
     background: #e5e4e2;
     border-radius: 30px 0px 0px 0px;
     box-shadow: 0px 0px 10px;
}
 .slider-content h5{
    color:#D1232A;
}
 .slider-content .w-100 {
     width: 100%!important;
     height:300px;
     border-radius: 30px 0px 0px 0px;
}
 .center-content{
     width:100%;
     height:10px;
     background:#00ADEE;
     z-index: 100;
     display:flex;
}
 .center-content-left{
     width:10%;
     height:10px;
     background:#D1232A;
}
 .center-content-center{
     width:80%;
     height:10px;
     background:#00ADEE;
}
 .center-content-right{
     width:10%;
     height:10px;
     background:#D1232A;
     z-index: 100;
}
 .text-content{
     width:100%;
     height:auto;
     background: #e5e4e2;
     border-radius: 0px 0px 30px 0px;
     box-shadow: 0px 0px 10px;
}
 .text-content p{
     text-align: justify;
     font-size: 16px;
     padding: 10px 20px;
     background: #00ADEE;
     color: #fff;
     margin: 15px;
     border-radius: 0px 0px 30px 0px;
}
 .navbar-toggler-icon {
     box-shadow: 0px 0px 0px 6px #e5e4e2;
     display: table-cell;
     width: 79px;
     height: 27px;
     vertical-align: middle;
     content: "";
     background: #e5e4e2;
     border: 1px solid #fff;
     border-radius: 100px;
}
 .footer{
    border-top:5px solid #D1232A;
}
 .copyright{
     background:#043c50;
     text-align:center;
     border-radius: 100px;
     margin-top: -22px;
}
 .copyright p{
    padding:10px 5px;
    color:#fff;
}
.login-form{
	width:100%;
	height:auto;
	background: #00ADEE;
    padding: 20px;
    margin: 20px;
    border-radius: 0px 0px 30px 0px;
    box-shadow: 0px 0px 10px;
}
.login-form .input-group-icon{
	background: #fff;
    color: #00adee;
	border-radius:25px;
}
.login-form .form-control{
	border-radius:25px;
	font-size: inherit;
}
.login-form p{
	margin-top:20px;
}
.login-form p a{
	color:#000;
}
.login-form p a:hover{
	color:#D1232A;
}
.login-title-holder{
	text-align:center;
	border-bottom: 1px solid;
    margin-bottom: 10px;
    color: #fff;
}
.login-form  .login-btn{
    padding: 2px 25px;
    margin: 5px 10px;
}

.button-holder{
	text-align:center;
}
.login-logo-holder{
	background: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 0px 0px 20px 0px;
    box-shadow: 0px 0px 8px 1px;
    margin-bottom: 12px;
}
 @media (min-width: 768px) {
     .navbar-expand-md .navbar-nav .nav-link {
        padding: 2px 30px;
        margin: 2px 20px;
    }
}
 @media (min-width: 992px) {
     .navbar-expand-md .navbar-nav .nav-link {
        padding: 2px 50px;
        margin: 2px 30px;
    }
}
 @media (min-width: 1200px) {
     .navbar-expand-md .navbar-nav .nav-link {
        padding: 2px 70px;
        margin: 2px 35px;
    }
}
 @media (max-width:767px) {
     .left-content{
        width:100%;
    }
     .header-right-side {
        float: right;
        display: block;
        width:60%;
    }
     .navbar-expand-md .navbar-nav .nav-link {
        margin: 10px 30px;
    }
}
 