{% extends "base_profile.html" %}
{% load widget_tweaks %}

{% block title %} Profile HDC - Hospital {% endblock %}




{% block body %}
        <div class="main">
            <div class="col-md-12">
                <div class="content-holder mb-3">
                    <div class="row">
                        <div class="col-md-12 order-md-1">
                         <h5 class="title-holder">Change Password </h5>
                            <div class="row">
                                <div class="col-md-12 order-md-1">
                                    <form class="form" method="post">
                                    <div class="col-md-12 text-center">
                                <div class="alert alert-success" id="update_success" style="display: none;">
                                </div>
                                <div class="alert alert-danger" id="update_error" style="display: none;">
                                </div>
                                <input type="submit" id="verify" name="verify" formmethod="post" style="visibility: hidden;">
                            </div>
                                        
											
										<div class="row">
										    <div class="col-lg-4"></div>
											<div class="col-md-12 col-lg-4">
                                                <label for="">Enter old password</label>
                                                {{ form.old_password | add_class:'form-control' }}
                                                <input type="checkbox" onclick="myFunction1()"><span style="color:#5b5b5b">Show Password</span>
                                                <hr>
                                            </div>
                                            
                                            <div class="col-lg-4"></div>
											
											
										
										</div>
                                        
                                        
                                        	
                                        <div class="row">
										    <div class="col-lg-4"></div>
											<div class="col-md-12 col-lg-4">
                                                <label for="">Enter new password</label>
                                                {{ form.password | add_class:'form-control' }}
                                                <input type="checkbox" onclick="myFunction2()"><span style="color:#5b5b5b">Show Password</span>
                                                <hr>
                                            </div>
                                            
                                            <div class="col-lg-4"></div>
											
											
										
										</div>
                                        
                                        <div class="row">
										    <div class="col-lg-4"></div>
											<div class="col-md-12 col-lg-4">
                                                <label for="">re-enter password</label>
                                                {{ form.password_confirm | add_class:'form-control' }}
                                                <input type="checkbox" onclick="myFunction3()"><span style="color:#5b5b5b">Show Password</span>
                                                <hr>
                                            </div>
                                            
                                            <div class="col-lg-4"></div>
											
											
										
										</div>
												
										<div class="row">
                                            <div class="col-md-12">
                                                <div class="mybtn-holder">
                                                    <button class="mybtn" id="create" formmethod="post" type="submit">SUBMIT</button>
                                                </div>
                                            </div>
                                        </div>
                                        
										
										
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {% endblock %}
    {% block javascript %}
    
         <script>
    function myFunction1() {
  var x = document.getElementById("myInput1");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}

$("#create").click(function(event){
            event.preventDefault();
            var old_password = $("#myInput1").val();
            var password = $("#myInput2").val();
            var password_confirm = $("#myInput3").val();
            $.ajax({
              url : '{% url 'individual_doctor_change_password' %}',
              type : 'POST',
              data : {old_password:old_password,password_confirm:password_confirm, password: password}
            })
            .done(function(response){ //match
                if(response['error'] == false){
                $("#update_error").hide();
                $("#update_success").text(response['errorMessage']);
                $("#update_success").show();
                window.setTimeout(function() {
                    window.location.replace('{% url 'home' %}');
                }, 3000);
              }
              else{ //mismatch
                $("#update_success").hide();
                $("#update_error").text(response['errorMessage']);
                $("#update_error").show();
              }
            })

            .fail(function(){
              $("#update_success").hide();
              $("#update_error").text("Something Went Wrong");
              $("#update_error").show();
            })
            .always(function(){
            })
        });
    </script>
    
     <script>
    function myFunction2() {
  var x = document.getElementById("myInput2");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
    </script>
    
     <script>
    function myFunction3() {
  var x = document.getElementById("myInput3");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
    </script>
        
        
        <script>
			function specialty2Show() {
			  var x = document.getElementById("hide1");
			  if (x.style.display === "none") {
				x.style.display = "block";
			  } else {
				x.style.display = "none";
			  }
			}
		</script>

{% endblock %}
