{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head>
		<title>Health Perigon </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">	
		<link rel="icon" type="image/png" href="{% static 'images/icon.png' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900" >
		<link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  	.main {
  		margin-top:28px;
  		height:100%;
  	}
  	.login-btn{
  		margin: 0px 10px
  	}
  	.formborder{
  		border-radius: 15px 15px 15px 15px !important;
  	}
	.modal-header {
		padding: 15px;
		border: none !important;
	}
	.modal-content{
		width:85% !important;
		margin-left:8% !important;
	}
	.popuptitle{
		background-color:#00adee !important;
		color:#fff;
		padding-bottom:1%;
	}
	.popuppara{
		background-color:#00adee !important;
		color:#fff;
		padding:0px 2px 3px 2px;
	}
	</style>
</head>
<body>	
	<div class="container">
		<div class="main">
		    <div class="row justify-content-center">
                <div class="col-md-4">
					    
						    <div class="row">
							<form class="login-form" method="post">
							    <div class="col-md-12">
								    <div class="login-logo-holder">
										<img src="{% static 'images/logo.png' %}" class="logo" alt="Health Perigon">
									</div>
								</div>
						        <div class="col-md-12">
								    <div class="login-title-holder">
										<h4>Login</h4>
									</div>
								</div>
								
                                <div class="form-group col-md-12">
									<div class="input-group">
										{{ form.username | add_class:'formborder form-control border-right-0 border' }}
                                        
                                    </div>
                                </div>
								<div class="form-group col-md-12">
									<div class="input-group">
                                        {{ form.password | add_class:'formborder form-control border-right-0 border' }}
                                    </div>
                                    <input type="checkbox" onclick="myFunction()"><span style="color:#5b5b5b">Show Password</span>
                                </div>
                                <div class="col-md-12">
                                	 {% if messages %}
					                {% for message in messages %}
					                    <div {% if message.tags %} class="alert {{ message.tags }} text-center"{% endif %}>
					                        {{ message }}
					                    </div>
					                {% endfor %}
					            {% endif %}

                                </div>
                               

                                <div class="col-md-12">
									<div class="button-holder">
									  <!--  <a href="index.html" data-toggle="modal" data-target="#myModal" class="login-btn">Set new password</a>-->
										<button class="login-btn" id="btnShowPopup" type="submit" name="submit" formmethod="post" value="submit"> login </button>                                       
									</div>
								</div>

							</form>
							</div>
						</div>
					</div>
				</div>
				<div id="MyPopup" class="modal fade" role="dialog">
					<div class="modal-dialog"> 
						<!-- Modal content-->
						<div class="modal-content">
							<div class="popuptitle  modal-header">
								<h3 class="modal-title text-center">Welcome Username</h3>
							</div>
							<p class="popuppara text-center">Please set the password you would like to use for Health Perigon</p>
							<div class="modal-body">
								<form method="post">
									<div class="col-md-12 text-center">
		                                <div class="alert alert-success" id="update_success" style="display: none;">
		                                </div>
		                                <div class="alert alert-danger" id="update_error" style="display: none;">
		                                </div>
		                                <input type="submit" id="verify" name="verify" formmethod="post" style="visibility: hidden;">
		                            </div>
									<div class="form-group col-md-12">
									<div class="input-group">
                                        {{ form1.password | add_class:'formborder form-control border-right-0 border' }}
                                    </div>
                                    <input type="checkbox" onclick="myFunctionpop1()"><span style="color:#5b5b5b">Show Password</span>
                                	</div>
                                
                                <div class="form-group col-md-12">
									<div class="input-group">
                                        {{ form1.password_confirm | add_class:'formborder form-control border-right-0 border' }}
                                    </div>
                                    <input type="checkbox" onclick="myFunctionpop2()"><span style="color:#5b5b5b">Show Password</span>
                                </div>

                                <div class="col-md-12">
									<div class="button-holder">
									    <!--<a href="index.html" data-toggle="modal" data-target="#myModal" class="login-btn">Set new password</a>-->
										<button class="login-btn" id="create"  type="submit" name="submit" value="Set new password"> Procced to account </button>
									</div>
								</div>
							</form>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
    
    
   <script type="text/javascript">
   	{% if sucessful_submit %}
    $(function () {
        $(document).ready(function () {
            $("#MyPopup").modal("show");
        });
    });
    {% endif %}

    $("#create").click(function(event){
            event.preventDefault();
            var password = $("#myInputpop1").val();
            var password_confirm = $("#myInputpop2").val();
            $.ajax({
              url : '{% url 'user_password' %}',
              type : 'POST',
              data : {password_confirm:password_confirm, password: password}
            })
            .done(function(response){ //match
                if(response['error'] == false){
                $("#update_error").hide();
                $("#update_success").text(response['errorMessage']);
                $("#update_success").show();
                window.setTimeout(function() {
                    window.location.replace('{% url 'set_password' %}');
                }, 3000);
              }
              else{ //mismatch
                $("#update_success").hide();
                $("#update_error").text(response['errorMessage']);
                $("#update_error").show();
              }
            })

            .fail(function(){
              $("#update_success").hide();
              $("#update_error").text("Something Went Wrong");
              $("#update_error").show();
            })
            .always(function(){
            })
        });

    function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
    </script>
    
     <script>
    function myFunctionpop1() {
  var x = document.getElementById("myInputpop1");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
    </script>
    
     <script>
    function myFunctionpop2() {
  var x = document.getElementById("myInputpop2");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
    </script>

    </body>
</html>