<!DOCTYPE html>
<html>
<body>

<p>Dear {{user.first_name}} {{user.last_name}}, </p>
  
<p>Congratulations! Your account has been created on Health Perigon, the digital platform for 360<sup>o</sup> Holistic Health!<br>  

Please note details of your account are as follows: </p>

<p><b>Account Type :</b> {{ type }}</p>

<p><b>Health Perigon ID :</b> {{user.special_id}}</p>

<p><b>Valid Till :</b> {{valid_till}}</p>

  
<p>Kindly visit Health Perigon <a href="#">(www.healthperigon.com)</a> to update your profile. You can login using your registered email id / registered mobile number and the password you created. </p>

<p>Please keep this email and use your Health Perigon ID in any communication with us, regarding optimal use of the platform.</p>

<p>This is a system generated email. For any queries, please email to <a href="#">support@healthperigon.com.</a> </p>

<p>Wishing you 360<sup>o</sup> Holistic Health!</p>

<p>Regards, <br>
	Health Perigon Team
</p>
<img src="https://healthperigon.net/static/images/logo.png" width="110px" height="110px">


<pre>
This e-mail and any files transmitted with it are for the sole use of the intended recipient(s) and may contain confidential and privileged information. If you are not the intended recipient, please contact the sender by reply e-mail and destroy all copies and the original message. Any unauthorized review, use, disclosure, dissemination, forwarding, printing or copying of this email or any action taken in reliance on this e-mail is strictly prohibited and may be unlawful.

The recipient acknowledges that Health Perigon. or its subsidiaries and associated companies (collectively " Health Perigon."), are unable to exercise control or ensure or guarantee the integrity of/over the contents of the information contained in e-mail transmissions and further acknowledges that any views expressed in this message are those of the individual sender and no binding nature of the message shall be implied or assumed unless the sender does so expressly with due authority of Health Perigon. Before opening any attachments please check them for viruses and defects. Health Perigon does not undertake any responsibility for loss or corruption of recipient’s data during transmission.
</pre>
</body>
</html>