{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
    <head>
		<title>Health Perigon </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">	
		<link rel="icon" type="image/png" href="{% static 'images/icon.png' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900" >
		<link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
    </head>
    <body>	
    <header>
	    <div class="header" >
		    <div class="container">
			    <div class="header-left-side">
				    <div class="logo-holder">
					    <img src="{% static 'images/logo.png' %}" class="logo" alt="Health Perigon">
				    </div>
				</div>
                <div class="header-right-side">
				    <div class="social-icons-holder">
				        <a class="icon-style " href="#"><i class="fa fa-facebook icon" aria-hidden="true"></i></a>
						<a class="icon-style" href="#"><i class="fa fa-twitter icon" aria-hidden="true"></i></a>
						<a class="icon-style" href="#"><i class="fa fa-whatsapp icon" aria-hidden="true"></i></a>
						<a class="icon-style" href="#"><i class="fa fa-instagram icon" aria-hidden="true"></i></a>
				    </div>
				</div>
				<div class="login-btn-holder">
		            <a class="login-btn" href="{% url 'login_view_admin' %}">Login</a>
				</div>
			    
			</div>
	    </div>
		<div class="container">
			<div class="Search-box-bg">
			    <div class="form-group header-search">
                    <span class="fa fa-search Search-box-icon"></span>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
			</div>
		    <nav class="navbar navbar-expand-md">
			    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
			        <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
			    </button>
		         <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
			        <div class=" navbar-nav">
						<a class="nav-link" href="{% url 'home' %}">Home</a>
						<a class="nav-link" href="#">About Us</a>
						<a class="nav-link" href="{% url 'register' %}">Register</a>
						<a class="nav-link active" href="{% url 'contact' %}">Contact Us</a>
			        </div>
		        </div>
	        </nav>
        </div>	
    </header>
	<div class="container">
		<div class="main">
		    <div class="Contact-section">
				
					<div class="row">
						<div class="col-md-12">
							<form class="needs-validation" method="post">
							<div class="Contact-holder">
								{% if messages %}
									{% for message in messages %}
										<div {% if message.tags %} class="alert {{ message.tags }} text-center"{% endif %}>
											{{ message }}
										</div>
									{% endfor %}
								{% endif %}

							    <div class="row">
									<div class="col-md-12 mb-3">
									    <div class="contact-text">
										    Please provide your details hereunder. Our team will contact you within 2 working days.
									    </div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-2 mb-3">
										<label class="color-white" for="">Name : </label>
									</div>
									<div class="col-md-10 mb-3">
										{{ form.name | add_class:'form-control Contact-textbox' }}
									</div>
								</div>
								<div class="row">
									<div class="col-md-2 mb-3">
										<label class="color-white" for="">Mobile Number :</label>
									</div>
									<div class="col-md-10 mb-3">
										{{ form.phone_no | add_class:'form-control Contact-textbox' }}
									</div>
								</div>
								<div class="row">
									<div class="col-md-2 mb-3">
										<label class="color-white" for="">Email id :</label>
									</div>
									<div class="col-md-10 mb-3">
										{{ form.email | add_class:'form-control Contact-textbox' }}
									</div>
								</div>
								<div class="row">
									<div class="col-md-2 mb-3">
										<label class="color-white" for="">Message :</label>
									</div>
									<div class="col-md-10 mb-3">
										{{ form.message | add_class:'form-control Contact-textbox' }}
									</div>
								</div>
								
								</div>
								<div class="row">
									<div class="col-md-12 mb-3">
									    <div class="Submit-btn-holder">
										    <button class="Submit-btn" type="submit">Submit</button>
									    </div>
									</div>
								</div>
							</form>
						</div>
					
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
	    <div class="container">
		    <div class="copyright"> 
			    <p>Copyright © Health Perigon 2020. All Rights Reserved</p>
			</div>
			<div class="footer-social-icons-holder">
				<a class="footer-icon-style " href="#"><i class="fa fa-facebook icon" aria-hidden="true"></i></a>
			        <a class="footer-icon-style" href="#"><i class="fa fa-twitter icon" aria-hidden="true"></i></a>
					<a class="footer-icon-style" href="#"><i class="fa fa-whatsapp icon" aria-hidden="true"></i></a>
					<a class="footer-icon-style" href="#"><i class="fa fa-instagram icon" aria-hidden="true"></i></a>
		    </div>
		</div>
	<footer>

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'js/popper-1.16.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>