{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %} Subscription Master - Module Master {% endblock %}

{% block body %}

        <div class="main">
            <div class="inner-navbar">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="Subscription_Master-Existing_Module_Master.html">Module Master</a></li>
                        <li class="nav-item"><a class="nav-link" href="Subscription_Master-Existing_Add-on_Services.html">Add-on Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="Subscription_Master-Existing_Subscription_Plan.html">Subscription Plan</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="content-holder">
                        {% if messages %}
                            {% for message in messages %}
                                <div {% if message.tags %} class="alert {{ message.tags }} text-center"{% endif %}>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    <div class="row">
                        <div class="col-md-12 order-md-1">
                            <h5 class="title-holder">Update Module</h5>
                            <div class="btn-holder">
                                <a class="link-btn" href="{% url 'addonservice' %}">Back to list</a>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="needs-validation" method="post">
                                        <div class="row">
                                            <div class="col-md-4 mb-3">
                                                <label for=""> Add-on Services <span class="red-color"> * </span></label>
                                                {{ reg.add_onservices | add_class:'form-control' }}
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label>Add-on Services Code<span class="red-color"> * </span></label>
                                        {{ reg.add_on_servicescode |  add_class:'form-control' }}
                                            </div>

                                            <div class="col-md-4 mb-3">
                                                <label>Amount <span class="red-color"> * </span></label>
                                                {{ reg.amount | add_class:'form-control' }}
                                            </div>

                                            <div class="col-md-4 mb-3">
                                                <label>CGST <span class="red-color"> * </span></label>
                                                {{ reg.cgst | add_class:'form-control' }}
                                            </div>

                                            <div class="col-md-4 mb-3">
                                                <label>SGST <span class="red-color"> * </span></label>
                                                {{ reg.sgst | add_class:'form-control' }}
                                            </div>

                                            <div class="col-md-4 mb-3">
                                                <label>GST <span class="red-color"> * </span></label>
                                                {{ reg.gst | add_class:'form-control' }}
                                            </div>

                                            <div class="col-md-4 mb-3">
                                                <label>Total Amount <span class="red-color"> * </span></label>
                                                {{ reg.total_amount | add_class:'form-control' }}
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mybtn-holder">
                                                    <button class="mybtn" data-toggle="collapse" href="{% url 'addservice' %} data-target="#demo">Cancel</button>
                                                    <button class="mybtn" type="submit">update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}
    {% block javascript %}  

    {% endblock %}