
{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %} Subscription Master - Module Master {% endblock %}

{% block body %}
  <div class="main">
      <div class="inner-navbar">
      <div class="col-md-12">
        <ul class="nav nav-tabs">

      </ul>
    </div>
    </div>
    <div class="col-md-12">
      <div class="content-holder">
        {% if messages %}
          {% for message in messages %}
            <div {% if message.tags %} class="alert {{ message.tags }} text-center"{% endif %}>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <div class="row">
          <div class="col-md-12 order-md-1">
            <h5 class="title-holder">Existing Single Investigation </h5>
            <div class="row">
              <div class="col-md-12">
                  <div class="btn-holder">
                      <a class="link-btn" href="{% url 'eventregister' %}">Add New</a>
                     </div>
                    </div>
              </div>
            </div>

              </div>

            <div class="row justify-content-center">
              <p id="date_filter">
              <div class="col-md-3">
                  <div class="form-group ">
                    <span class="color">Start Date</span>
                  <div class="input-group">
                      <input type="text" class="form-control border-right-0 border date_range_filter " id="datetime_from" placeholder="dd/mm/yyyy">
                    </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <span class="color">End Date</span>
                  <div class="input-group">
                    <input type="text" class="form-control border-right-0 border date_range_filter " id="datepicker_to" placeholder="dd/mm/yyyy">
                  </div>
                </div>

              </div>
              </p>
              <div class="col-md-3">
                  <div class="form-group ">
                    <span class="color" style="visibility: hidden;">Search Module</span>
                    <div class="input-group">
<!--                        Search by code,Preferrable_choics, Status-->
                  <input type="text" class="form-control border-right-0 border" id="search_name" placeholder="Search Module">
                </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                  <div class="table-responsive">
                  <table class="table table-bordered" id="datatable">
                    <thead>

                                             <tr class="side-link">
                                                <th style="display: none;">Date</th>
                                                <th>Title</th>
                                                <th>Event Type</th>
                                                <th>Register Link</th>
                                                <th>Target Audiance</th>

                                                <th>Event Date</th>
                                                 <th>End Date</th>
                                                <th>Action</th>
                                                <th>Streaming Link</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for module in module  %}
                                            <tr>
                                                <td style="display: none;" >{{ module.created_on|date:"m/d/Y"  }}</td>



                                                <td class="nr">{{ module.eventtitle }}</td>
                                                 <td>{{ module.eventtype }}</td>
                                                 <td><a href="{% url 'registerlink' module.id %}" >www.registerlink/{{module.id}}</td>
                                                 {{ form.streaming_link | add_class:'form-control' }}
              </div>
                                                <td>{{ module.targetaudiance }}</td>



                                                <td>{{ module.created_on }}</td>
                                                <td>{{ module.end_on }}</td>

                                              <td>
                          <a href="{% url 'destroyevent' module.id %}"><i class="fa fa-trash action-icons" aria-hidden="true" onclick="return confirm('Are you sure you want to delete this?')"></i></a>
                                            <a href="{% url 'editevent' module.id %}" tooltip="Adit"><i class="fa fa-pencil-square action-icons" aria-hidden="true"></i></a>
                          </td>
                          <td>
                         <div class="col-md-12">
  <button style="margin-bottom:5px;" type="button" data-toggle="modal" data-target="#add_data_Modal" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Add Streaming link</button>
</div>
<div id="add_data_Modal" class="modal fade" role="dialog">

<div class="modal-dialog modal-lg">



  <!-- Modal content-->

  <div class="modal-content">

    <div class="modal-header">

      <button type="button" class="close" data-dismiss="modal">&times;</button>

    <div class="modal-body">

      <div class="row">

       <div class="container">

          <div class="col-md-4 mb-3">
          <label>Registeration Link <span class="red-color"> * </span></label>

              <div class="col-md-4 mb-3">

            </tody>
                   <input type="text" name="streaming_link" id="streaming_link">


             </div>

         </div>
       </div>
    <div class="modal-footer">


        <button class="mybtn  who" id="myBtnSave" type="submit">Add</button>

      </div>

      </td>
    </form>
             </tbody>         </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>

                            </div>
            </div>
            </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block javascript %}


  <script>
   	$(function() {
  var oTable = $('#datatable').DataTable({
  	"lengthMenu": [[10, 25, 50, -1], [10, 15, 20,25]],
    "pageLength": 10,
    "iDisplayLength": -1,
    "pagingType": "simple_numbers",
    "lengthChange": false,
  });
  $("#search_name").on('keyup', function (){
        $('#datatable').dataTable().fnFilter(this.value);
    });

  $("#datepicker_from").datepicker({
    "onSelect": function(date) {
      minDateFilter = new Date(date).getTime();
      console.log("minDateFilter"+minDateFilter)
      oTable.draw();
    }
  }).keyup(function() {
    minDateFilter = new Date(this.value).getTime();
    console.log("minDateFilterSecond"+minDateFilter)
    oTable.draw();
  });

  $("#datepicker_to").datepicker({
    "onSelect": function(date) {
      maxDateFilter = new Date(date).getTime();
      console.log("maxDateFilter"+maxDateFilter)
      oTable.draw();
    }
  }).keyup(function() {
    maxDateFilter = new Date(this.value).getTime();
    oTable.draw();
  });

});

// Date range filter
minDateFilter = "";
maxDateFilter = "";

$.fn.dataTableExt.afnFiltering.push(
  function(oSettings, aData, iDataIndex) {
    if (typeof aData._date == 'undefined') {
      aData._date = new Date(aData[0]).getTime();
    }

    if (minDateFilter && !isNaN(minDateFilter)) {
    	console.log("CHECK"+aData._date)
      if (aData._date < minDateFilter) {
        return false;
      }
    }

    if (maxDateFilter && !isNaN(maxDateFilter)) {
      if (aData._date > maxDateFilter) {
        return false;
      }
    }

    return true;
  }
);
    </script>
<script>
$(document).ready(function() {
	let formData = {
		eventtitle: "",
		streaming_link: "",

	};


	$("#datatable").on('click', 'tr', function() {

		var trValue = $(this).attr('value');

		var tdValue = $(this).children('td').map(function(index, val) {
			return $(this).text();

		}).toArray();
		formData.eventtitle = tdValue[1];
		alert(formData.eventtitle);

		$("#myBtnSave").click(function()  {



			var streaming_link = $("#streaming_link").val();

<!--			  code to disable datatable-->

			formData.streaming_link = streaming_link;
			$.ajax({
				url: "{% url 'Add_streaming_link' %}",
				type: "POST",
				data: {
					'eventtitle': formData.eventtitle,
					'streaming_link': formData.streaming_link,

				},

				headers: {
					"X-CSRFToken": "{{ csrf_token }}"
				},

				success: function(response) {
					alert("Streaming link added succesfully");

				}

			});

		});


	});
});
</script>

<!--<script>-->
<!--$(document).ready(function() {-->

<!--	let formData = {-->
<!--		eventtitle: "",-->
<!--		streaming_link: "",-->

<!--	};-->
<!--	$("#myBtnSave").click(function() {-->
<!--		var streaming_link = $("#streaming_link").val();-->
<!--		formData.streaming_link = streaming_link;-->
<!--	});-->


<!--	$('#datatable').find('tr').change(function(data) {-->
<!--		var row = $(this).find('td:eq(1)').text();-->

<!--		formData.eventtitle = row;-->
<!--		console.log(formData.eventtitle)-->

<!--		$.ajax({-->
<!--			url: "{% url 'Add_streaming_link' %}",-->
<!--			type: "POST",-->
<!--			data: {-->
<!--				'eventtitle': formData.eventtitle,-->
<!--				'streaming_link': formData.streaming_link,-->

<!--			},-->

<!--			headers: {-->
<!--				"X-CSRFToken": "{{ csrf_token }}"-->
<!--			},-->

<!--			success: function(response) {-->
<!--				alert("Streaming link added succesfully");-->

<!--			}-->

<!--		});-->
<!--	});-->
<!--});-->
<!--</script>-->



{% endblock %}