{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
    <head>
		<title>Health Perigon </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">	
		<link rel="icon" type="image/png" href="{% static 'images/icon.png' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900" >
		<link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
		<style>
		    .main {
                margin-top:28px;
				height:100%;
            }
			.login-btn{
	            margin: 0px 10px
            }
			.checkbox{
			    height: calc(1.5em + .75rem + 2px);
                width: 20px;
			}
			.input-group-text {
				display: -ms-flexbox;
				display: flex;
				-ms-flex-align: center;
				align-items: center;
				padding: .375rem .75rem;
				margin-bottom: 0;
				font-size: 1rem;
				font-weight: 400;
				line-height: 1.5;
				color: #495057;
				text-align: center;
				white-space: nowrap;
				background-color: #fff;
				border: 1px solid #fff;
				border-radius: 25px;
			}
		</style>
    </head>
    <body>	
	<div class="container">
		<div class="main">
		    <div class="row justify-content-center">
                <div class="col-md-5">
					<div class="row">
					    <div class="login-form">
							<div class="col-md-12">
								<div class="login-logo-holder">
								    <img src="{% static 'images/logo.png' %}" class="logo" alt="Health Perigon">
							    </div>
						    </div>
						    <div class="col-md-12">
								<div class="login-title-holder">
								    <h4>Forgot Password</h4>
								</div>
							</div>
							<form method="post">
							<div class="col-md-12">
								<div class="alert alert-success" id="update_success" style="display: none;">
								</div>
								<div class="alert alert-danger" id="update_error" style="display: none;">
								</div>
								<input type="submit" id="verify" name="verify" formmethod="post" style="visibility: hidden;">
							</div>
							<div class="form-group col-md-12 ">
                                <div class="input-group">
								    <span class="input-group-prepend">
								        <div class="input-group-append">
								            <button id="otp" style="padding: 7px; font-size: smaller; color: red;">SEND OTP</button>
								        </div>
								    </span>
								    {{ form1.email | add_class:'form-control' }}
										<span class="input-group-append">
										    <div class="input-group-text input-group-icon"><i class="fa fa-commenting-o" aria-hidden="true"></i></div>
									</span>
								</div>
							</div>
							<div class="form-group col-md-12">
								<div class="input-group">
                                    {{ form1.phone_no | add_class:'form-control' }}
								    <span class="input-group-append">
										<div class="input-group-text input-group-icon"><i class="fa fa-comment" aria-hidden="true"></i></div>
									</span>
                                </div>
                            </div>
							
							</form>
							<form method="post">
							<div class="form-group col-md-12">
							    <div class="input-group">
                                    {{ form.password | add_class:'form-control' }}
									<span class="input-group-append">
										<div class="input-group-text input-group-icon  "><i class="fa fa-key" aria-hidden="true"></i></div>
									</span>
                                </div>
                            </div>
							<div class="form-group col-md-12">
							    <div class="input-group">
                                    {{ form.password_confirm | add_class:'form-control' }}
									<span class="input-group-append">
										<div class="input-group-text input-group-icon  "><i class="fa fa-key" aria-hidden="true"></i></div>
									</span>
                                </div>
                            </div>
                            <div class="col-md-12">
								<div class="button-holder">
									<a href="{% url 'login_view_admin' %}" class="login-btn">Cancel</a>
									<button class="login-btn" type="submit" formmethod="post" id="create" name="submit" value="submit">Update & Log In</button>
								</div>
							</div>
							</form>

                        </div>
			        </div>
			    </div>
	        </div>
	    </div>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'js/popper-1.16.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>

		$('#otp').click(function(event){
		$('#otptxt').removeAttr("disabled");
		event.preventDefault();
		var email = $("#email").val();
		console.log("email"+email)
		$.ajax({
	          url : '{% url 'send_otp_admin' %}',
	          type : 'GET',
	          data : {email:email}
	        })
	        .done(function(response){ 
	        	if(response['error'] == false){
	            $("#update_error").hide();
	            $("#update_success").text(response['errorMessage']);
	            $("#update_success").show();
	          }
	          else{
	            $("#update_success").hide();
	            $("#update_error").text(response['errorMessage']);
	            $("#update_error").show(); 
	          }
	        })

	        .fail(function(){
	          $("#update_success").hide();
	          $("#update_error").text("Something Went Wrong");
	          $("#update_error").show();
	        })
	        .always(function(){
	        })
		});
		$("#verify").click(function(event){
			event.preventDefault();
			var phone_no = $("#otptxt").val();
			console.log(phone_no)
			if (phone_no != ""){
	    	console.log("OTP");
	    	$.ajax({
	          url : '{% url 'verify_otp_admin' %}',
	          type : 'POST',
	          data : {phone_no:phone_no}
	        })
	        .done(function(response){
	          if(response['error'] == false){
	          	console.log('')
	          	$("#id_password").removeAttr("disabled");
	          	$("#id_password_confirm").removeAttr("disabled");
	          	$("#otptxt").attr("disabled","disabled");
	            $("#update_error").hide();
	            $("#update_success").text(response['errorMessage']);
	            $("#update_success").show();

	          }
	          else{
	            $("#update_success").hide();
	            $("#update_error").text(response['errorMessage']);
	            $("#update_error").show();

	          }
	        })
	        .fail(function(){
	          $("#update_success").hide();
	          $("#update_error").text("Something Went Wrong");
	          $("#update_error").show();
	        })
	        .always(function(){
	        })
	    }
		});
		$("#create").click(function(event){
			event.preventDefault();
			var email = $("#email").val();
			var password = $("#id_password").val();
			var password_confirm = $("#id_password_confirm").val();
			$.ajax({
	          url : '{% url 'change_password_admin' %}',
	          type : 'POST',
	          data : {password:password,password_confirm:password_confirm, email: email}
	        })
	        .done(function(response){ //match
	        	if(response['error'] == false){
	            $("#update_error").hide();
	            $("#update_success").text(response['errorMessage']);
	            $("#update_success").show();
	            window.location.replace('{% url 'home' %}');
	          }
	          else{ //mismatch
	            $("#update_success").hide();
	            $("#update_error").text(response['errorMessage']);
	            $("#update_error").show(); 
	          }
	        })

	        .fail(function(){
	          $("#update_success").hide();
	          $("#update_error").text("Something Went Wrong");
	          $("#update_error").show();
	        })
	        .always(function(){
	        })
		});
    </script>
    </body>
</html>