<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<div>
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="alert {{ message.tags }} text-center"{% endif %}>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
</div>
<form method="POST" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="submit">

</form>
</body>
</html>